<div class="container mt-5">
    <h2 class="text-center text-primary mb-4">Crear Nuevo Celular</h2>
    <form (ngSubmit)="onSubmit()" #celularForm="ngForm">
      <div class="mb-3">
        <label for="marca" class="form-label">Marca</label>
        <input
          type="text"
          id="marca"
          class="form-control"
          [(ngModel)]="celular.marca"
          name="marca"
          required
        />
      </div>
      <div class="mb-3">
        <label for="modelo" class="form-label">Modelo</label>
        <input
          type="text"
          id="modelo"
          class="form-control"
          [(ngModel)]="celular.modelo"
          name="modelo"
          required
        />
      </div>
      <div class="mb-3">
        <label for="precio" class="form-label">Precio</label>
        <input
          type="number"
          id="precio"
          class="form-control"
          [(ngModel)]="celular.precio"
          name="precio"
          required
        />
      </div>
      <div class="mb-3">
        <label for="almacenamiento" class="form-label">Almacenamiento</label>
        <input
          type="number"
          id="almacenamiento"
          class="form-control"
          [(ngModel)]="celular.almacenamiento"
          name="almacenamiento"
          required
        />
      </div>
      <div class="mb-3">
        <label for="ram" class="form-label">RAM</label>
        <input
          type="number"
          id="ram"
          class="form-control"
          [(ngModel)]="celular.ram"
          name="ram"
          required
        />
      </div>
      <button type="submit" class="btn btn-success">Crear</button>
    </form>
  </div>
  