 /* Estructura general */
 body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el contenedor ocupe toda la pantalla */
  }

  /* Contenedor principal */
  .main-container {
    flex: 1; /* Empuja el footer al fondo cuando el contenido es pequeño */
  }

  /* Footer */
  .footer {
    text-align: center;
    padding: 10px;
    color: #003161;
    border-top: 1px solid #dee2e6;
    font-size: 14px;
    background-color: #f8f9fa; /* Fondo claro */
  }