<div class="container mt-5">
    <!-- Bienvenida -->
    <div class="text-center">
      <p class="lead text-muted">
        Encuentra, gestiona y crea registros de los últimos modelos de celulares. Simplifica tu trabajo con nosotros.
      </p>
      
    </div>
  
    <!-- Sección de Imágenes -->
    <div class="row text-center mt-5">
      <div class="col-md-4">
        <div class="card shadow-sm">
          <img
            src="https://images.unsplash.com/photo-1601972602288-3be527b4f18a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="card-img-top"
            alt="Celular 1"
          />
          <div class="card-body">
            <h5 class="card-title">Últimos Modelos</h5>
            <p class="card-text">
              Descubre los modelos más recientes y actualiza tu inventario.
            </p>
            <a routerLink="/crear-celular" routerLinkActive="active" class="btn btn-outline-primary">
              Agregar Nuevo
            </a>
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="card shadow-sm">
          <img
            src="https://images.unsplash.com/photo-1632674885571-053e1dea8573?q=80&w=2077&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="card-img-top"
            alt="Celular 2"
          />
          <div class="card-body">
            <h5 class="card-title">Consulta Fácil</h5>
            <p class="card-text">
              Gestiona todos los registros de celulares en un solo lugar.
            </p>
            <a routerLink="/consult" routerLinkActive="active" class="btn btn-outline-primary">
              Consultar
            </a>
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="card shadow-sm">
          <img
            src="https://images.unsplash.com/photo-1526583873938-c453ebed6950?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="card-img-top"
            alt="Celular 3"
          />
          <div class="card-body">
            <h5 class="card-title">Edición Rápida</h5>
            <p class="card-text">
              Modifica los datos de tus registros de forma rápida y sencilla.
            </p>
            <a routerLink="/consult" routerLinkActive="active"class="btn btn-outline-primary">
              Editar
            </a>
          </div>
        </div>
      </div>
      <a routerLink="/consult" routerLinkActive="active" class="btn btn-primary btn-lg mt-3">
        <i class="bi bi-table"></i> Ver Todos los Celulares
      </a>
    </div>
  
  </div>
  